.card-container {
    display: flex;
    overflow-x: auto;
    width: 200%;
    white-space: nowrap;
    padding: 10px;   
}

.card {
    width: 18rem;
    margin-right: 10px;
    border-color: black;
}